@media (max-width: 615px) {
    .comments-wrapper {
        width: 100vw;
    }

    .comment-tag { 
        justify-self: center;
        width: 100vw;
        margin-right: 0px;
        font-size: 1em;

        .comment-tag__user {
            width: 100px;
            justify-content: space-between;
        }


        .comment-tag__text {
            width: auto;
        }
    }
}