.dash-board__body-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;


    .dash-board__no-bugs {
        font-size: 2em;
        font-weight: 600;
        font-family: $header;
        color: $black;
        margin-top: 15px;
    }


}
