.new-comment__form {
    width: 100%;
    height: min(50px);
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: $silver;
    .new-comment__text {

    }

    .new-comment__button {

    }

}