.sidebar-wrapper {
    min-height:100vh;
    background-color: $black;
}

.sidebar {
    width: 300px;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 100px;
    


    .sidebar__top{
        height: 175px;
        color: $white;
        .sidebar__header{
            margin-top: 25px;
            font-family: $header;
            text-align: center;
            
        }
        .sidebar__details{
            padding: 0px;
            height: 200px;
            font-family: $paragraph;
            font-size: 1.5em;

            li {

                margin-top: 25px;
                border-bottom: 1px solid $red;
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                

                .sidebar__label {
                    justify-self: left;
                    

                }
                .sidebar__value {
                    justify-self: right;
                
                    
                }
            }
        }
    }

    .sidebar__buttons {
        align-self: center;
        height: 375px;
        display: flex;
        flex-direction: column;
        
        .sidebar-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            font-family: $paragraph;
            font-size: 1.5em;
            background-color: $red;
            color: $white;
            border: none;
            border-bottom: 1px solid $black;
            transition: ease-in-out 0.3s;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: $grey;
            }
        }
    }

    .sidebar-options {
        height: 0px;
        overflow: hidden;
        color: $white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.2em;
        font-family: $paragraph; 
        transition: 0.3s ease-in-out;

        .sidebar-option{
            align-self: center;
            justify-self: center;
            cursor: pointer;

            &:hover {
                color: $silver;
            }
        }
        div {
            color: $red;
            align-self: center;
            justify-self: center;
        }

    }

    .already-assigned {
        grid-template-columns: 1fr;
    }
    .already-resolved {
        grid-template-columns: 1fr;
    }
    .sidebar-options__visible {
        height: 70px;
    }





}