.bug-tag {
    width: 50vw;
    height: 40px;
    margin-top: 25px;
    padding: 20px;
    color: $white;
    background-color: $black;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(63,61,61,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-family: $paragraph;

    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        color: $silver;
    }
}