.bug-header {
    padding: 20px;
    width: 50vw;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
    font-family: $paragraph;
    font-size: 1.75em;
    font-weight: 500;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius:  5px;
    border-bottom: 3px solid $red;
    background-color: $black;
    color: $silver;

}