.bug-sorter {
    margin-top: 25px;
    height: 20px;
    width: calc(50vw + 40px);
    background-color: $silver;
    color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    .bug-sorter__link {
        font-size: 1.5em;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        text-align: center;
        &:hover {
            background-color: $grey;
        }
    }

    .border {
        border-right: 1px solid $grey;
    }
}