.reset-password {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .reset-password__success {
        height: 300px;
        width: 500px;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $black;
        border-radius: 10px;
        .reset-password__success-message {
            color: $white;
            font-family: $paragraph;
            font-size: 1.2em;
        }
        .reset-password__success-login {
            height: 50px;
            width: 420px;
            border: none;
            border-radius: 25px;
            font-size: 1.5em;
            font-family: $paragraph;
            color: $white;
            background-color: $grey;
            transition: 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $silver;
            }

            &:focus {
                outline: none;
            }

        }
    }

    .reset-password__form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        width: 500px;
        background-color: $black;
        align-self: center;
        border-radius: 10px;

        .reset-password__form-title {
            text-align: center;
            width: 500px;
            padding-bottom: 15px;
            color: #FCFCFC;
            font-size: 2em;
            font-family: $header;
            border-bottom: solid 2px $red;
        }


        .reset-password__form-password-mismatch {
            color: $red;
            font-size: 1.2em;
        }

        .reset-password__form-input {
            padding-left: 20px;
            width: 400px;
            height: 35px;
            border: none;
            border-radius: 25px;
            color: $black;
            background-color: $white;
            font-family: $paragraph;
            transition: 0.2s ease-in-out;

            &:focus {
                outline: none;
                background-color: $grey;
                color: $white;
            }
        }

        .reset-password__form-button {
            height: 50px;
            width: 420px;
            border: none;
            border-radius: 25px;
            font-size: 1.5em;
            font-family: $paragraph;
            color: $white;
            background-color: $grey;
            transition: 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $silver;
            }
            &:focus {
                outline: none;
            }

        }
    }
}