.reset-password-wrapper {
    .reset-password-form__wrapper {
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .reset-email__success {
        height: 300px;
        width: 500px;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $black;
        color: $white;
        border-radius: 10px;

        .reset-email__message {
            font-size: 1.2em;
            font-family: $paragraph;

        }

        .reset-email__login {
            height: 50px;
            width: 420px;
            border: none;
            border-radius: 25px;
            font-size: 1.5em;
            font-family: $paragraph;
            color: $white;
            background-color: $grey;
            transition: ease-in-out 0.2s;
            cursor: pointer;

            &:hover {
                color: $silver;
            }
        }
    }

    .reset-password-request {
        height: 300px;
        width: 500px;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: $black;
        color: $white;
        border-radius: 10px;

        .reset-password-request__title {
            text-align: center;
            width: 500px;
            padding-bottom: 15px;
            color: #FCFCFC;
            font-size: 2em;
            font-family: $header;
            border-bottom: 2px #F50022 solid;
        }

        .reset-email__failed {
            color: $red;
            font-size: 1.5em;
            font-family: $paragraph;
        }

        .reset-password-request___input {
            padding-left: 20px;
            width: 400px;
            height: 35px;
            border: none;
            border-radius: 25px;
            color: $black;
            font-family: "Ubuntu", sans-serif;
            transition: 0.2s ease-in-out;

            &:focus {
                outline: none;
                background-color: $grey;
                color: $white;
            }
        }

        .reset-password-request___button {
            height: 50px;
            width: 420px;
            border: none;
            border-radius: 25px;
            font-size: 1.5em;
            font-family: "Ubuntu", sans-serif;
            color: #FCFCFC;
            background-color: #3F3D3D;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $silver;
            }
            &:focus {
                outline: none;
            }
        }
    }
}