@media(max-width:615px) {
    .group-form {
        width: 90vw;

        .group-form__title {
            width: 90vw;
        }

        .group-form__disclaimer {
            width: 200px;
        }

        .group-form__input {
            width: 200px;
        }

        .group-form__button {
            width: 200px;
        }

    }
}