@media(max-width: 615px) {
    .register-group__header {
        height: 250px;
    }

    .group-form__modal-success {
        width: 90vw;
    }

    .group-form__modal-failure {
        width: 90vw;
    }


};