.header {
    height: 110px;
    background-color: $black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .header__icon {
        margin-left: 15px;
        color: $red;
        font-size: 3em;
    }
    
    h1 {
        justify-self: center;
        color: $red;
        font-family: $title;
        font-size: 3em;
    }

    .header_links {
        justify-self: end;
        height: 80px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;

        .header_link {
            font-family: $header;
            font-size: 1.5em;
            color: $white;
            transition: 0.3s ease-in-out;

            &:hover {
                color: $silver;
            }
        }
    }
}