@import './variables.scss';
@import './header.scss';
@import './footer.scss';
@import './auth/login-page.scss';
@import './auth/login-form.scss';
@import './auth/signup.scss';
@import './auth/signup-form.scss';
@import './auth/signup-criteria.scss';
@import './auth/reset-password-request.scss';
@import './auth/reset-password.scss';
@import './auth/modal-content.scss';
@import './user/user-profile.scss';
@import './user/user-update-form.scss';
@import './user/update-user-password.scss';
@import './user/register-group-form.scss';
@import './user/register-group.scss';
@import './dashboard/dashboard.scss';
@import './dashboard/dashboard-header.scss';
@import './dashboard/dashboard-navbar.scss';
@import './bugs/bug-tag.scss';
@import './bugs/bug-header.scss';
@import './bugs/bug-detail.scss';
@import './bugs/bug-sidebar.scss';
@import './bugs/bug-detail-header.scss';
@import './bugs/report-bug.scss';
@import './bugs/report-bug-form.scss';
@import './bugs/bug-success-message.scss';
@import './bugs//search-bugs.scss';
@import './bugs/search-bug-bar.scss';
@import './bugs/bug-sorter.scss';
@import './comments/comment-tag.scss';
@import './comments/new-comment-form.scss';

//media queries

@import './media-queries/header-mq.scss';
@import './media-queries/auth/login-page-mq.scss';
@import './media-queries/auth/login-form-mq.scss';
@import './media-queries/auth/signup-mq.scss';
@import './media-queries/auth/signup-form-mq.scss';
@import './media-queries/auth/signup-criteria-mq.scss';
@import './media-queries/auth/reset-password-request-mq.scss';
@import './media-queries/auth/reset-password-mq.scss';
@import './media-queries/auth/join-group-modal-mq.scss';
@import './media-queries/dashboard/dashboard-header-mq.scss';
@import './media-queries/dashboard/dashboard-navbar-mq.scss';
@import './media-queries/bugs/bug-header-mq.scss';
@import './media-queries/bugs/bug-tag-mq.scss';
@import './media-queries/bugs/bug-sorter-mq.scss';
@import './media-queries/bugs/report-bug-mq.scss';
@import './media-queries/bugs/report-bug-form-mq.scss';
@import './media-queries/bugs/bug-success-message-mq.scss';
@import './media-queries/bugs/bug-detail-mq.scss';
@import './media-queries/bugs/bug-sidebar-mq.scss';
@import './media-queries/user/register-group-mq.scss';
@import './media-queries/user/register-group-form-mq.scss';
@import './media-queries/user/update-user-password-mq.scss';
@import './media-queries/user/user-update-form-mq.scss';





html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $paragraph;
}

body {
    background-color: $white;
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}


