@import './variables.scss';
@import './header.scss';
@import './footer.scss';
@import './auth/login-page.scss';
@import './auth/login-form.scss';
@import './auth/signup.scss';
@import './auth/signup-form.scss';
@import './auth/signup-criteria.scss';
@import './auth/modal-content.scss';
@import './user/user-profile.scss';
@import './dashboard/dashboard.scss';
@import './dashboard/dashboard-header.scss';
@import './dashboard/dashboard-navbar.scss';
@import './bugs/bug-tag.scss';
@import './bugs/bug-header.scss';
@import './bugs/bug-detail.scss';
@import './bugs/bug-sidebar.scss';
@import './bugs/bug-detail-header.scss';
@import './bugs/report-bug.scss';
@import './bugs/report-bug-form.scss';
@import './bugs/bug-success-message.scss';
@import './bugs//search-bugs.scss';
@import './bugs/search-bug-bar.scss';
@import './bugs/bug-sorter.scss';
@import './comments/comment-tag.scss';
@import './comments/new-comment-form.scss';




html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $paragraph;
}

body {
    background-color: $white;
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}


