@media (max-width: 615px) {
    
  .reset-password {
    .header {
        height: 75px;
    }

    .reset-password__success {
        width: 100vw;

        .reset-password__success-message {
            font-size: 1em;
            text-align: center;
        }

        .reset-password__success-login {
            width: 200px;
        }
    }

    .reset-password__form {
        width: 90vw;

        .reset-password__form-title {
            width: 90vw;
        }

        .reset-password__form-input {
            width: 200px;
        }

        .reset-password__form-button {
            width: 200px;
        }

    }
}
}