@media (max-width: 615px) {
    
  .reset-password {
    .header {
        height: 75px;
    }

    .reset-password__form {
        width: 90vw;

        .reset-password__form-title {
            width: 90vw;
        }

        .reset-password__form-input {
            width: 200px;
        }

        .reset-password__form-button {
            width: 200px;
        }
    }
}
}