@media (max-width: 615px) {
    .reset-password-form__wrapper {

        .reset-email__success{
            width: 100vw;
            .reset-email__message {
                font-size: 1em;
                text-align: center;
            }

            .reset-email__login {
                width: 200px;
            }
        }
        .reset-password-request {
            width: 90vw;

            .reset-password-request__title {
                width: 90vw;
            }
            .reset-password-request___input {
                width: 200px;
            }
            .reset-password-request___button {
                width: 200px;
            }



        }
    }
}