@media (max-width: 615px) {
    .reset-password-form__wrapper {
        .reset-password-request {
            width: 90vw;

            .reset-password-request__title {
                width: 90vw;
            }
            .reset-password-request___input {
                width: 200px;
            }
            .reset-password-request___button {
                width: 200px;
            }



        }
    }
}