@media (max-width: 615px) { 
    .signup__criteria {
        width: 90vw;

        .password-criteria__title {
            width: 90vw;
        }

        ul {
            li{
                font-size: 1.2em;
            }
        }
}
}