@media (max-width: 615px) { 
    .signup-form {
        width: 90vw;
        align-self: center;

        .signup-form__title-wrapper{
            .signup-form__title{
                width: 90vw;
            }
        }
    }



}