@media (max-width: 615px) {
    .dashboard__navbar {
        width: 100vw;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        .navbar-link {
            width: auto;
            border-bottom: 1px solid $silver;
    
        }
    }
}