@media(max-width:615px) {

    .bug-detail {
        width: 100vw;
  
    .bug-detail__body-wrapper {
        grid-template-columns: 1fr;
        align-items: center;

        .sidebar-wrapper {
            width: 100vw;

            .bug-detail__sidebar {
                width: 200px;
            }
        }
        .bug-detail__description-comments{
        .bug-detail__description {
            justify-self: center;
            width: auto;
        }
    }

    .bug-detail__pictures {
        width: 80vw;
        img {
            width: 80vw;
            
        }
    }
    }
}
}