@media(max-width:615px) {

    .bug-detail {
        width: 100vw;
  
    .bug-detail__body-wrapper {
        flex-direction: column;
        align-items: center;
        .bug-detail__description-comments{
        .bug-detail__description {
            justify-self: center;
            width: auto;
        }
    }

    .bug-detail__pictures {
        width: auto;
        img {
            width: 300px;
            
        }
    }
    }
}
}