.update-password {
    margin: 20px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: $black;
    border-radius: 10px;


    .update-password__title {
        text-align: center;
        padding-bottom: 15px;
        color: #FCFCFC;
        font-size: 2em;
        font-family: $header;
        border-bottom: 2px #F50022 solid;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    .update-password__input {
        height: 35px;
        width: 75%;
        justify-self: center;
        margin-bottom: 75px;
        padding-left: 20px;
        border: none;
        border-radius: 25px;
        color: $black;
        font-family: $paragraph;
        transition: 0.2s ease-in-out;
        
        &:placeholder-shown{
            color: $white;
        }

        &:focus {
            outline: none;
            color: $white;
            background-color: $grey;
        }
    }

    .update-password__button {
        justify-self: center;
        height: 50px;
        width: calc(75% + 20px);
        border: none;
        border-radius: 25px;
        font-size: 1.5em;
        font-family: $paragraph;
        color: $white;
        background-color: $red;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        margin-bottom: 25px;

        &:focus{
            outline: none;
        }
        &:hover {
            color: $black;
        }
    }


    .update-password__mismatch {
        font-size: 1.5em;
        margin-bottom: 15px;
        justify-self: center;
        color: $red;
    }

}